html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}
.form-all {
  margin-bottom: 50px;
}
.foot {
  height: 60px;
  width: 100%;
}
ion-icon {
  color: var(--bs-teal) !important;
  font-size: 32px;
  margin-top: 1px;
}
.title {
  margin-left: 9.5rem; /* 64px */
  margin-right: 9.5rem;
}
.mail,
.senha ,.categoria{
  width: 400px !important;
}
.lgbt {
  background: var(--bs-teal) !important;
  color: var(--bs-light) !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  transition: none !important;
  cursor: pointer !important;
}

.lgbt:hover,
.lgbt:active,
.lgbt:focus {
  background: var(--bs-teal) !important;
  color: var(--bs-light) !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  transition: none !important;
}
.amz, .ml, .shp {
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  cursor: pointer !important;
  transition: none !important;
}

.amz {
  background:#2c3d4d;
  color: var(--bs-light) !important;
}
.amz:hover, .amz:focus, .amz:active {
  background:#2c3d4d;
  color: var(--bs-light) !important;
}

.ml {
  background:#fbff1b;
  color: #333 !important;
}
.ml:hover, .ml:focus, .ml:active {
  background:#fbff1b;
  color: var(--bs-dark) !important;
}

.shp {
  background:#e95b30;
  color: var(--bs-light) !important;
}
.shp:hover, .shp:focus, .shp:active {
  background:#e95b30;
  color: var(--bs-light) !important;
}




  .submenu,
  .list-group-item {
    text-align: center;
    background: none;
    border: none;
  }

 .submenu,
   .list-group-item  a {
    text-decoration: none;
  }  .exit {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}
@media (max-width: 320px) {
  .title {
    margin: 2px 11px 0px 0px;
  }  
  .mail,
  .senha,
  .form-label,.categoria {
    width: 16rem !important;
    margin-left: 15px !important;
  }
  .user-data {
    margin: 5px 11px 80px 0px !important;
    width: 300px !important;
    padding: 0px !important;
  }
  .exit{
margin-top: -60px;
float: right !important;
  }
  .submenu {
    margin: 64px -88px 0px -336px !important;
  }
  .submenu,
  .list-group-item {
    text-align: center;
    background: none;
    border: none;
  }

 .submenu,
   .list-group-item  a {
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .title {
    margin-left: 10rem; /* 64px */
    margin-right: 10rem;
  }
  .head-config {
    margin-left: -100px !important;
  }
}

@media (min-width: 992px) {
  .title {
    margin-left: 10rem; /* 64px */
    margin-right: 10rem;
  }
}

@media (min-width: 1200px) {
  .title {
    margin-left: 10rem; /* 64px */
    margin-right: 10rem;
  }
}

@media (min-width: 1400px) {
  .title {
    margin-left: 10rem; /* 64px */
    margin-right: 10rem;
  }
}
